[2017-02-23 10:10] kzima opened #1 "Server Side Rendering and Hot Reloading"

[2017-02-23 10:11] kzima opened #2 "Reactive Programming with RxJS"

[2017-02-23 10:14] kzima opened #3 "React from business perspective"
This was suggested by Alex Babkov from REX Software.

[2017-02-23 10:15] kzima opened #4 "Ract JS / Redux - best practices"

[2017-02-23 10:16] kzima opened #5 "React Native - introduction"

[2017-03-08 00:01] liammclennan opened #6 "Seeking a great React developer"
_Kris suggested posting jobs here, so..._

Senior Software Engineer - Web
===============

Startsat60.com is now the largest mature digital and social media site in the world providing the market entry point for our latest venture, Travel at 60, which is set to disrupt the way baby boomers research and purchase travel. We are building an agile, high-performance delivery team to support the rapid e

[2017-03-08 00:26] kzima commented on #1
I just successfully implemented this so I am happy to give a 10 min talk about it.

[2017-03-08 01:31] liammclennan opened #7 "Simplifying user interface programming"
in which we build [this sweet car game](https://codepen.io/liammclennan/pen/RogMdX?editors=0010).

Thoughts on simplifying user interface programming, with examples in React and Redux.

This is my talk from dddbrisbane, so some may have seen it.

[2017-03-09 23:00] MrCeleryman commented on #5
Hi Kris, I messaged you before and I am back from holidays now so happy to talk about my experiences with React Native in a workplace and maybe show how easy it is to get up and running? Never done a talk before so may need some guidance in that aspect...

[2017-03-10 11:26] kzima commented on #5
hey @MrCeleryman , What I found works is if you talk about your experience. Just 1-3 slides (problem-solution works great) plus some live coding ideally. No need to be an expert, just share what you know :)

[2017-03-13 10:19] triyuga commented on #7
+1

[2017-03-13 11:47] triyuga opened #8 "Curious little hack. Building a Matrix backdrop in React."
A short talk about building a simple React UI component: an animated Matrix backdrop. An introductory level talk.

- Prototyping quickly with /create-react-app
- Using this.state and simple JS timers to produce animations
- Adding completed MatrixBackdrop component to an existing project

[2017-03-13 11:59] triyuga commented on #8
Note: I'm away for the March 20 event but will be available for the next one.

[2017-03-13 12:00] triyuga commented on #8
<img width="1440" alt="react-matrix-bg" src="https://cloud.githubusercontent.com/assets/2193454/23853444/6515ef8a-0838-11e7-8192-e8b65c3074b5.png">

[2017-03-13 12:17] triyuga opened #9 "Submitting my React component as an npm package"
I'm both requesting and volunteering this talk. I've never contributed a package to `npm` myself but want to do so. If no one else wants to take and do this talk, I would be happy to do so and use it as impetus to learn about it.

[2017-03-13 12:18] triyuga commented on #8
https://github.com/triyuga/react-matrix-bg/blob/master/README.md

[2017-03-14 09:19] kzima commented on #8
@triyuga Sounds really good. I will book you in for the next talk on 17th of March.

[2017-03-14 09:23] kzima commented on #9
I have done packed few components and I remember it was a pain. Especially managing dependencies. Good topic! I wouldn't mind if you can share your experience about this.

[2017-03-14 22:03] kzima opened #10 "React Storybook - Intro"

[2017-03-14 22:04] kzima commented on #10
Patric volunteered to give a brief talk about benefits of using Storybook.

[2017-03-14 22:06] patrickgordon commented on #10
🎉

[2017-03-16 12:28] deecewan commented on #9
Yeah, this is an interesting one, especially setting up the toolchain to compile during release, and it becomes even more painful if you're using CSS.

[2017-03-16 12:30] deecewan opened #11 "Setting up a build config"
Sorting out webpack 2 and babel with various plugins is a big job and scares off a lot of people,who resort to Creat React App. This limits freedom and choice.

I'd be happy to present how I set up my build config, what tools I use, etc.

This would include a full dev environment, including hot module replacement with the new react hot loader.

[2017-03-16 12:31] deecewan opened #12 "Semantic Redux for state management"
A brief walk through of redux, using it with your application, and how to do async in a clean, semantic way. Touch on best practice with regard to connecting with react-redux

[2017-03-16 12:32] deecewan commented on #10
@patrickgordon can't wait

[2017-03-16 18:48] patrickgordon commented on #11
+1 this would be awesome. Will take a fair bit of time I'd think. Maybe best broken over two meetup?

[2017-03-16 21:59] deecewan commented on #11
nah, super quick.  set up config. explain what everything does.  15, 20 minutesish.

[2017-03-18 11:04] kzima commented on #12
@deecewan, Redux and async stuff sounds like great topic. Would you like to give a talk about it on the next meetup?

[2017-03-18 11:06] kzima commented on #11
@deecewan, I am happy to schedule 20mins for the next meetup in April. Would that be ok?

[2017-03-18 11:08] kzima commented on #9
@triyuga are you available in April to present your thoughts about submitting react package to npm?

[2017-03-19 03:19] deecewan commented on #11
perfect.

[2017-03-19 03:20] deecewan commented on #12
@kzima like, the one on Monday?

[2017-03-20 01:03] loklaan opened #13 "Highlights from React Conf 2017"
Hey folks,

Some of us from @rexsoftware attended the recent React Conf, and we'd like to relay some of the highlights!

It would be a short talk (5-10 minutes), and would be given be @ababkov.

Reckon we could fit this into tonights meetup?

[2017-03-20 08:51] loklaan opened #14 "React in your Brownfields Project"
Hey folks,

There is a talk I have in mind for relaying the challenges and wins of integrating React (web) into an existing project.

It would largely cover:

* Why you might want to bring React into an existing (brownfields/legacy/old/large) application
* The challenges you're probably going to encounter
* Expect to gain some big 'wins' - but not straight away

Happy to take questions in here, an

[2017-03-20 09:17] loklaan opened #15 "Theming distributable Components"
Hey folks,

I'd like to talk about the subject of theming components. This is an important discussion for people and places that would like to write libraries of components to be used across more than one app/brand.

It's a deceptively large subject to cover, so I'm first writing an article about the subject before working on this talk... So, talk date TBA...

That being said, this is a great talk

[2017-03-20 11:01] loklaan opened #16 "The state of Styling in React"
Hey folks,

The ecosystem around styling in React and React Native is still fairly turbulent. I'd like to talk about the concerns around styling for web/native, and the current solutions floating about.

[2017-03-21 02:58] patrickgordon commented on #14
:+1: Interested in this.

[2017-03-21 02:58] patrickgordon commented on #16
styled-components
css modules
BEM

Any others?

[2017-03-28 22:39] #13 closed

[2017-04-05 11:05] kzima commented on #14
Can't wait to hear more about it!

[2017-04-05 11:12] kzima commented on #8
@triyuga I booked you in for the next meetup https://www.meetup.com/Brisbane-ReactJS-Meetup/events/238979178/. Please let me know if 10mins + q&a is enough?

[2017-04-10 05:33] triyuga commented on #8
@kzima that should be fine!

[2017-04-12 05:12] kzima opened #17 "Reselect in action"
This talk was volunteered by @patrickgordon.

[2017-04-12 07:37] loklaan commented on #17
I see what you did there. 😏

[2017-04-13 23:41] #5 closed

[2017-04-13 23:46] kzima commented on #12
@deecewan, Lets push this one to May 👍

[2017-04-13 23:47] #7 closed

[2017-04-13 23:47] #10 closed

[2017-04-13 23:51] kzima opened #18 "Fuse-box and react"
Recently we were wondering on how good is the fuss-box and how it plays with React. If it is as fast as people say than maybe it is worthwhile looking into this tool?

Anyone used fuss-box before?

[2017-04-13 23:53] kzima commented on #9
@triyuga Lets push this one to May 👍

[2017-04-15 01:15] triyuga opened #19 "Tooling niceness. Embedding the GraphiQL query builder into my React client."
If you do Apps that use APIs and micro-services, and you don’t use GraphQL , slap yourself now and start using GraphQL. Its awesome!

[2017-04-15 01:17] triyuga commented on #9
Ok! Sorry @kzima only saw your comment now! Could do this one in May, or the one i just submitted: React with GraphQL and Apollo!

[2017-04-17 03:02] loklaan commented on #19
There are a couple typo's in the description. :wink:

Are you primarily going to be talking about & showing off Apollo?

I think that covering GraphQL from other perspectives, like designing an API around it, might be out of scope for the meetup audience.

[2017-04-17 03:10] loklaan opened #20 "Requested topic: next.js app framework"
The _"framework for server-rendered apps"_ captures many core concerns and solutions for creating fast and well structured react applications, that may otherwise take a person or team a while to pickup by themselves and certainly much longer to solve.

It'd be great to have a talk on:

- Starting a project with next.js
- The problems that next.js solves, and how it solves them
- Using a handful of

[2017-04-18 00:38] jwulf commented on #19
*typos

[2017-04-18 00:53] jwulf commented on #19
Switching your React app to Apollo, with a brief overview of GraphQL and the server-side. We'll be talking about the incremental approach to weaning yourself off the past and onto the future - how to architect your React app in such a way that you can transition incrementally from legacy architectures like Redux.

[2017-04-18 01:37] loklaan commented on #19
I think GraphQL is great.

Sounds like you want to cover:
* an overview of graphql
* writing a graphql api
* an overview of apollo
* architecting a react application (around apollo?)
* replacing other modern data layers (with apollo?)

I would recommend limited the scope of the talk though, as you'd be lucky to adequately explain all that even if you were given 2 hours.

I'm not discouraging anyon

[2017-04-19 21:05] patrickgordon commented on #17
Here's the slides:
https://docs.google.com/presentation/d/1giiD_CpPeg3PD6XuRJXCuM6l_ye1mXfLbdW8GHQbQXA/edit?usp=sharing

Here's the gists of the sample files:
https://gist.github.com/patrickgordon/a38ee732ad5b1d92f03a82c4c8403a27

[2017-04-20 12:17] nikglavin commented on #20
You may have seen this already, however, covers a couple of the points

https://www.youtube.com/watch?v=h6rETZH6Ym0

was an interesting watch

[2017-04-20 19:50] loklaan commented on #20
@nikglavin thanks! been meaning to watch it.

[2017-04-23 08:02] kzima commented on #17
@patrickgordon, thanks Patrick!

[2017-04-24 00:05] bakkerme opened #21 "Intro to React VR"
There's a lot of excitement around React VR since it just hit v1.0, so I figure it would make a good talk topic. I've been experimenting with it so consider me a volunteer.

My thinking here is:
- What it is and how it works
- Getting started
- A demo of some of the things you can do

[2017-04-26 04:43] kzima commented on #21
@bakkerme Would you like dive into this topic and give a quick talk?

[2017-04-26 04:47] bakkerme commented on #21
For sure, should make for an exciting topic.

[2017-04-26 08:38] kzima commented on #21
Awesome!

[2017-04-29 12:10] triyuga commented on #19
Thanks for the feedback guys. I agree 100% @loklaan my initial description has a vague and untenable scope.

I've spent the last couple of weeks setting up a GraphQL backend for Magikcraft, as the basis for developing our React Client V2 against. I'm really pleased with GraphQL, but this is a React meetup!

So, here is a more targeted topic:

# Tooling niceness. Embedding the GraphiQL query builde

[2017-04-29 12:18] triyuga commented on #19
Hi @kzima just letting you know I've changed/narrowed the topic for this talk proposal. Previously it was **React with GraphQL and Apollo. You're welcome!**

The new topic about Graphiql UI in React is of much smaller scope, and could work as a 10-15 min talk.

[2017-04-29 12:30] triyuga commented on #19
Talk outline:

- What is GraphQL and what is Graphiql? (brief, like 3 mins)
- Demo setting up the GraphiQL react component in an existing project
- A note about authentication
- Look at how nice the GqphQL schema is to work with :)

[2017-05-09 22:39] #8 closed

[2017-05-09 22:39] #11 closed

[2017-05-09 22:39] #14 closed

[2017-05-09 22:39] #17 closed

[2017-05-09 22:55] kzima commented on #21
@bakkerme, Just checking if May 22nd ok for you to give an intro into VR? I can book you for 10min (max 5 slides).

[2017-05-09 22:58] kzima commented on #16
@loklaan, I can book you for 10min (max 5 slides) for the next meetup on May 22nd. Would that be ok with you?

[2017-05-09 23:19] bakkerme commented on #21
@kzima Sounds good, I can work with 10 min. Cheers!

[2017-05-10 00:08] kzima commented on #19
@triyuga, I am going to book 10 min for you (max 5 slides) for Monday 22nd. Would that be fine with you?

[2017-05-10 00:26] triyuga commented on #19
@kzima sure!

[2017-05-10 01:17] loklaan commented on #16
@kzima Yup, let's do it. Might go over 5 slides ;)

[2017-05-10 04:18] kzima commented on #16
you negotiate hard! ok, lest settle on 6 slides :)

[2017-05-26 00:01] #1 closed

[2017-05-26 00:01] #16 closed

[2017-05-26 00:01] #19 closed

[2017-05-26 00:01] #21 closed

[2017-05-26 00:02] kzima commented on #6
@liammclennan, Please reopen if still available.

[2017-05-26 00:02] #6 closed

[2017-05-31 23:24] iamtommcc commented on #12
@deecewan Are you still doing this talk for the June meetup? Was going to volunteer a Redux talk but if you're still doing this one I'll hold off as we'd cover a lot of the same ground 👌

[2017-05-31 23:39] deecewan commented on #12
you go for it. i'm keen to hear other thoughts on it.

[2017-06-02 08:19] iamtommcc opened #22 "Real-world Redux"
- Basic overview of the benefits Redux provides for those unfamiliar with it
- Best practices & strategies for implementing within a React context: how to make it scale & how to make it help instead of hinder you.
- Go over some common abstractions & libraries to help avoid "death by boilerplate"

Can be either 10 or 20 mins, might be a bit better as a 20 though.

[2017-06-03 10:42] kzima commented on #22
@iamtommcc, thanks for volunteering. I will book you for 20 mins :)

[2017-06-07 00:27] ghiculescu opened #23 "React first impressions when coming from jQuery"
I've been writing jquery professionally for about 5 years. We recently went all in on React - initially on new codebases, and now we're bringing it into our core codebase too.

If anyone's interested I'd be happy to do a talk about first impressions, learning curve, etc.

[2017-06-07 00:41] deecewan commented on #22
i am super keen for this talk.

[2017-06-07 01:02] patrickgordon opened #24 "React + Redux + Firebase"
I would love to hear a talk about how to use React + Redux + Firebase together harmoniously.

Bonus points for:
* Actual code examples
* Actual app on github

[2017-06-18 09:44] kzima commented on #23
@ghiculescu, It's great to hear other companies are following suit by switching to React. I will chat you about it on Monday and maybe we can schedule a talk for the next meetups.

[2017-06-23 00:16] loklaan opened #25 "Requested topic: React alternatives"
React has a couple alternatives and 'React-like' libraries:

- [preact](https://github.com/developit/preact)
- [inferno](https://github.com/infernojs/inferno)

There are also declarative view libraries that _feel_ like React:

- [mercury](https://github.com/Raynos/mercury)
- [yo-yo](https://github.com/maxogden/yo-yo)

---

It'd be great to cover the first two, with the case of slotting them into R

[2017-06-23 01:08] patrickgordon commented on #25
Sounds great.

[2017-07-03 05:49] #22 closed

[2017-07-04 06:17] patrickgordon opened #26 "Universal React & Redux using cookies for persistence and store hydration"
I would like to present on how at Jumbo we have approached using cookies to hydrate our store for our Universal web app.

Somewhat of an "advanced" topic, so cognizant that it might not apply to a wider audience.

[2017-07-13 06:11] #12 closed

[2017-07-13 06:17] kzima opened #27 "Elm and React"
Josh W. volunteered to give a talk on our next meetup. Looking forward to hear more!

[2017-07-27 02:14] Matthew-Burfield opened #28 "Testing in React"
I don't the expertise to actually give a talk on it, but I'd love to hear a talk on testing components in React. Maybe an overview of the popular testing frameworks out there, and then some best practises, conventions and gotchas when writing tests in React.

[2017-07-27 05:29] patrickgordon commented on #28
I would be more than happy to do a talk on this. Or I might nominate my boss Nick Glavin

[2017-08-01 11:15] bakkerme opened #29 "React Hardware"
I'm volunteering for a talk on React Hardware, a React system that allows you to control electronic components on an Arduino board. I'll be showing off some simple circuits and how they work with React Hardware and do all the things we know and love about React. I've got a couple of other ideas for demonstrating unusual applications of React's tech so let's call this the official start of a series

[2017-08-02 01:40] patrickgordon commented on #29
Sounds interesting

[2017-08-10 06:20] kzima commented on #26
I am going to miss this talk but looking forward to some slides after I am back +1

[2017-08-10 06:23] kzima commented on #23
@ghiculescu I had few people looking forward to your speech but you were away at the time. If you still wish to give a talk on our next meetup please let me know.

[2017-08-10 06:24] #15 closed

[2017-08-10 06:24] #27 closed

[2017-08-10 07:13] ghiculescu commented on #23
Oh man, sorry, I totally forgot to tell you I'd be out of down.

What would the dates for the August/September meetups be?

[2017-08-12 11:58] kzima commented on #23
@ghiculescu, I got a spot reserved for you for the next meetup on August 21st. Would you be available then?

[2017-08-12 12:05] ghiculescu commented on #23
Sorry, I will be out of town :( I'm the worst for continuously doing this to you.

I really should be here for the September one!

[2017-08-12 12:18] kzima commented on #23
ok, September one is on Monday 18th. Would this suit you better?

[2017-08-13 02:50] patrickgordon commented on #26
Hey @kzima can we push this to another meetup? I would be keen to talk about redux-cache at the August meetup if possible

[2017-08-13 02:51] patrickgordon opened #30 "redux-cache"
I'd like to present a (soon to be) open source package from Jumbo Interactive that I've been working on called redux-cache.

It is a library which provides useful helpers and utilities to implement a TTL cache strategy for redux applications.

[2017-08-13 02:52] patrickgordon commented on #26
See #30

[2017-08-13 03:03] kzima commented on #26
ok, cool, thanks @patrickgordon

[2017-08-13 03:08] kzima commented on #20
@loklaan Would you mind sharing some knowledge about next.js any time soon?

[2017-08-13 03:15] patrickgordon commented on #30
🎉

[2017-08-14 00:17] loklaan commented on #20
@kzima Sorry I don't have any experience with it. I'm ok to wait for someone who does.

[2017-08-14 23:45] kzima opened #31 "Facebook Engineer wanted!"
I got a contact with one of the engineers from Facebook that is looking for a vanilla JavaScript  developer. You would be required to build stuff from scratch, know the difference between call and apply and have a good knowledge of a DOM tree and its inner workings.

Position is available in either Washington or London. If you are interested, please send me a message!

[2017-08-21 08:15] patrickgordon commented on #26
lol @ my title for this talk. smh

[2017-08-24 23:07] jwulf commented on #31
They are not looking for a vanilla JS dev, they are testing devs on vanilla JS because they are looking for people who understand the fundamentals of the language enough to write new frameworks and languages.

They'll contact you if your GitHub mojo is strong enough. No need to do anything apart from commit every day and be awesome.

[2017-09-01 06:28] benoneal opened #32 "Managing complexity and performance with React and Redux"
I'd like to give a talk in November covering design patterns and strategies to manage application complexity and view performance with high throughput interactive interfaces.

[2017-09-05 11:04] kzima commented on #20
anyone?

[2017-09-05 11:05] #30 closed

[2017-09-05 11:05] kzima commented on #23
@ghiculescu should I schedule you for a quick presentation this month?

[2017-09-05 11:06] #31 closed

[2017-09-05 11:09] kzima commented on #32
@benoneal, That would be great! I am looking for speakers for this month. Would you like to present anything on Monday 18th?

[2017-09-05 23:14] ghiculescu commented on #23
Yep, can do!

[2017-09-05 23:45] kzima commented on #23
awesome! I will book you in for Monday 18th then.

[2017-09-05 23:53] kzima commented on #29
@bakkerme I remember that you needed more time to prepare for this talk. Would you be ready to present it in September's meetup?

[2017-09-06 02:51] bakkerme commented on #29
Yeah I'd love too. Count me in.

[2017-09-06 11:07] kzima commented on #29
ok, cool. Thanks @bakkerme

[2017-09-06 11:43] benoneal commented on #32
@kzima I could potentially run through the ins and outs of server-side rendering?

[2017-09-07 22:01] kzima commented on #32
@benoneal That would be great. I will book you in then for 15 min slot.

[2017-09-12 10:20] nikglavin commented on #28
@kzima Yeah I'll give it a crack hey why not

[2017-09-13 10:26] kzima commented on #28
@nikglavin that's great! I could book you for the October meetup if that suit you?

[2017-09-14 08:35] nikglavin commented on #28
@kzima should be ok will let you know a little closer to the date?

[2017-09-17 09:07] kzima commented on #23
@ghiculescu Just want to confirm that you are ok for tomorrow?

[2017-09-18 07:13] deecewan commented on #25
don't forget [`choo` 🚂 ](https://github.com/choojs/choo)

[2017-09-18 07:15] deecewan opened #33 "Static Analysis/Typed JS with React"
Flow and ESLint make a great combination for verifying code before it even gets out the door.

I'd be happy to do a talk on my Flow and ESLint, and how I use them with React/Redux.

[2017-09-19 00:44] loklaan commented on #25
@deecewan Chose to mention yo-yo instead, as choo is a framework rather than a view library.

[2017-09-19 00:50] deecewan commented on #25
yup, definitely. I jumped the gun.

[2017-09-22 04:00] kzima commented on #33
@deecewan, Are you good for the next meetup?

[2017-09-22 04:02] #23 closed

[2017-09-22 04:02] #29 closed

[2017-09-22 04:03] kzima opened #34 "Ins and out of server side rendering"
Volunteered by Ben O'neal.

[2017-09-22 04:04] #34 closed

[2017-09-22 04:24] #26 closed

[2017-10-04 09:30] kzima commented on #33
Hey @deecewan, would you be able to give a talk on Monday, October 23rd?

[2017-10-04 09:33] kzima commented on #28
hey @nikglavin, I just scheduled Monday 23rd for the next meetup. Would you be available to come and give a talk about Testing in react?

[2017-10-04 10:32] kzima opened #35 "Managing Componentised Apps: The Journey of Tools"
Talk volunteered by @loklaan

[2017-10-04 10:51] deecewan commented on #33
hey @kzima I'm not sure I can get a good talk done by that time unfortunately.

[2017-10-08 21:38] ridget opened #36 "D3 + React a prototyping story"
I almost exclusively work in Ruby and Elixir and yet found myself staring down the barrel of D3, React and a deadline recently. This is a story of how you can use React to replace the `enter()`, `update()` pattern in D3, and make charting super simple. We'll also take a look at how D3 works along the way.

Request: I'm super keen to give this talk, but my twins aren't typically in bed until 6:30 a

[2017-10-08 22:44] patrickgordon commented on #36
Would love to see you there @ridget !

[2017-10-10 09:00] kzima commented on #36
@ridget, no problems! 7pm will work fine. I will confirm the date soon. It would be either this month or next month. Would that be ok?

[2017-10-11 00:23] deecewan commented on #33
@kzima if i could get a slightly longer slot for this one, that'd be great. 25-30 minutes would be 👌 .

[2017-10-11 10:07] kzima commented on #33
ok, cool, Thanks for letting me know. We should be fine with 25min :)

[2017-10-14 08:45] ridget commented on #36
@kzima I'm potentially down in Melb next month around the time of the meetup, but nothing confirmed yet (depends on family coverage + coworkers). Even if neither month works out for you, happy to return another month :)

[2017-10-15 09:40] kzima commented on #36
ok, I will book you for 10-15min presentation for this month, as I didn't get the confirmation from my last speaker. See you on Monday 23rd.

[2017-10-15 21:45] ridget commented on #36
@kzima awesome. Can you confirm if your screen supports widescreen or 4:3 ratio for the slides, and if you have usb-c adapters or what adapters are needed (first Bris React meetup so not sure of what you have on deck :) )

[2017-10-16 04:32] kzima commented on #36
@ridget I think the projector supports widescreen and 4:3 and u can connect with it using standard HDMI input cable.

[2017-10-16 04:35] kzima commented on #36
Please call me when you arrive as the lift needa card access. My mobile is on the meetup page.

[2017-10-23 07:10] benoneal commented on #32
Just pinging to see if we can confirm this for November?

[2017-10-24 01:34] patrickgordon opened #37 "Using Redux Middleware with API calls"
Volunteering this talk about how you can write a simple(ish) redux middleware to abstract code to interface with APIs and keep yourself from repeating code in action creators, thunks, or components.

[2017-10-24 05:40] MrCeleryman opened #38 "Writing a chat application across React and React Native"
I'm building a prototype at the moment for a chat application for React and React Native that could be interesting as a talk I think as it has come fiddling around with Redux and Middlewares.

So yea volunteering to talk about it if it sounds interesting

[2017-10-26 01:19] kzima commented on #36
@ridget, great talk on Monday. Do you have any resources you could share on the [meetup page](https://www.meetup.com/Brisbane-ReactJS-Meetup/events/243910349/)?

[2017-10-26 01:19] kzima commented on #35
@loklaan great talk on Monday. Do you have any resources you could share on the [meetup page](https://www.meetup.com/Brisbane-ReactJS-Meetup/events/243910349/)?

[2017-10-26 01:20] kzima commented on #33
@deecewan, great talk on Monday. Do you have any resources you could share on the [meetup page](https://www.meetup.com/Brisbane-ReactJS-Meetup/events/243910349/)?

[2017-10-26 02:45] ridget commented on #36
Thanks again for having me @kzima! I've posted a comment on the meetup page and have pushed the source code up from the talk here: https://github.com/ridget/react-d3-demo

[2017-10-26 04:46] loklaan commented on #35
No sorry!

[2017-11-06 05:18] AaronW9090 opened #39 "Basics of performance and the chrome performance panel"
Volunteering a quick talk on the basics of rendering performance (with a small touch of javascript performance) as well as a shallow look into the chrome performance panel.

[2017-11-13 00:26] #33 closed

[2017-11-13 00:26] #35 closed

[2017-11-13 00:26] #36 closed

[2017-11-13 00:32] kzima commented on #39
@AaronW9090, are you good to present on Monday 20th?

[2017-11-13 00:50] kzima commented on #38
Hi Daniel,

That's great I actually wanted to present React and Firebase on Monday and use chat as an example but I could change this to something else, so you could give your talk about chat application :)

Are you good to present on Monday 20th?

[2017-11-13 03:05] MrCeleryman commented on #38
Well yours actually sounds more react orientated and I haven't had much time to work on this so happy for you to take this one and I could do next meetup?

[2017-11-14 23:39] AaronW9090 commented on #39
Yep this should be good to go

[2017-11-15 01:45] kzima commented on #39
awesome!

[2017-11-15 01:45] kzima commented on #38
👍

[2017-11-16 23:07] kzima commented on #32
@benoneal Sorry, I missed you message somehow. I am happy to book 20min for you next Monday. Would that be alright?

[2017-11-20 22:37] #24 closed

[2017-11-20 22:37] #39 closed

[2017-11-20 22:44] kzima commented on #39
Hi @AaronW9090,

Thanks for the presentation. It was really informative! I was wondering if you could share your slides on the meetup page?

[2017-12-27 08:12] iamtommcc commented on #32
Hey @benoneal, would you be keen to do this talk at the January meetup?

[2018-01-03 12:18] iamtommcc commented on #38
Hey @MrCeleryman, would you still be keen to do this one for a Jan meetup?

[2018-01-08 03:43] benoneal commented on #32
Just getting back into things after a nice holiday. Might have to push this off till Feb.

[2018-01-19 06:32] 4xDMG opened #40 "Using a HOC and passing it different components to gain access to Redux store"
One of my coworkers was disappointed when he found out that Redux didn't completely eliminate the need to pass state down as props to child components. Instead of using the container component pattern he decided to create a HOC that is connected to the store and then pass in different components to give them access to it.

For example he has a route('/1') and off that main route, 3 subroutes ('/1/

[2018-01-22 06:53] iamtommcc commented on #40
Definitely seems a little strange – without seeing a code sample, hard to evaluate whether or not it's an anti-pattern *per se*. How are these components being passed along to the HoC, exactly? If all these components are just being fed *the whole store*, then that's definitely a bad smell: it pays to be explicit with what data the component depends on.

But regardless, your right: idiomatic React

[2018-01-29 00:02] iamtommcc commented on #32
Too easy @benoneal, just let me know if you're still keen & I will lock you in for Feb :)

[2018-02-01 23:12] benoneal commented on #32
Yeah I'm down.

[2018-02-05 06:05] jannakha opened #41 "Build optimisation for react apps - talk proposal"
Talk topic will be how to min your js footprint by lazy loading components and other best practices with examples.

Late last year I had to optimise build of the app I work on in UQ the result was:
Before:
main.js is 2.6Mb
After:
Vendor-6c51d8ca6f183b8d83db.min.js - 61.9 KB
Main-6c51d8ca6f183b8d83db.min.js - 189 KB
+ bundles (under 99KB loading on demand)

[2018-02-19 22:32] benoneal commented on #32
[Slides for the presentation](https://docs.google.com/presentation/d/17msHHAMpEgogm3oo-nM-uBLNFMMPuUniQ2vU0Sg6Lqw/edit?usp=sharing)

[2018-02-19 22:32] #32 closed

[2018-02-20 00:47] iamtommcc commented on #41
Hi @jannakha, this seems like an AWESOME topic – would you be keen for doing a 30 minute talk on this for the March meetup?

[2018-02-20 01:59] #37 closed

[2018-02-20 03:05] loklaan opened #42 "Context API"
Hey folks

I got a talk about Context in mind.

1. Hey let's start with something most people have seen:
  Redux's `<Provider store />` & `@connect(mstp, mdtp)`
2. Ah heck, how do these even work...
  Let's talk about the context API's in React.
  * How to write your own Provider / Connect
  * How it works behind the scenes, implemented with the pub&sub/event-emitter pattern
3. The API's are chang

[2018-03-14 21:40] iamtommcc commented on #41
Hi @jannakha, just chasing up if you were still keen on this one for March 26.

[2018-04-25 03:52] jannakha commented on #41
hey, sorry
for some reason I'm not getting any notifications from github
can do one in May (if meetup is before 22nd)

[2018-04-26 07:36] loklaan opened #43 "Requested topic: Cute web animations in React"
[code]

Hey animations in React can be sweet/hacky/elegant all at once. It'd be good to see some whacky demo's and an comparison of differing (existing) techniques available for React's UI model.

[2018-05-02 03:58] loklaan opened #44 "Adhoc Toolkits"
Investing in the developer experience of your _app bootstrapping & build process_ pays when frequently creating similar products.

The lovely @colingourlay, as part of his work at @abcnews, has discovered the benefits of creating your [own company toolkit](https://github.com/abcnews/aunty) along with the concerns surfaced along the way.

[2018-06-09 08:14] AsifAmin opened #45 "Server-Side Rendering with React"

[2018-07-12 04:26] loklaan opened #46 "Building Saas with sassss"
# Building SaaS with sassss

Creating web apps that connect with hearts and wallets is not a technology problem. Before the SaaS was a thing, it was a Design + Dev problem, and one that we kind of know how to solve. But SaaS has changed things up. Design ❤️ Dev is not enough to keep your web app out of the technology graveyard. In this presentation, I invite the audience to join me in exploring th

[2018-07-18 04:22] iamtommcc opened #47 "Fulltime Frontend Developer at Rexlabs"
<p align="center">
  <a title="rexlabs site" href="https://rexlabs.io"><img width="500px" alt="Rexlabs" src="https://user-images.githubusercontent.com/1560301/42792910-e3adcb6a-89ba-11e8-89bb-99fbdceb5a5d.png" /></a>
</p>
We’re on the hunt for a passionate frontend developer to join our growing development team. If you love writing cutting-edge JavaScript and working closely with designers to crea

[2018-07-22 23:04] chris-divvito opened #48 "Job Posting: Mid-level developer. React-Native, typescript, firebase, serverless GCF backend"
# Divvito – Mid Developer

Divvito helps separated parents communicate more effectively. We have developed a messaging app, Divvito Messenger, that mitigates inappropriate communication between parents. We’ve seen a 50% reduction in flagged messages with the first four weeks of use.

This role is a unique opportunity for the right candidate. While based in Brisbane, we will be pushing heavily into

[2018-08-20 03:52] loklaan commented on #48
Hi @chris-divvito!

Hope the postings are doing well. Would you like to keep this one up for another month?

[2018-08-20 03:54] #46 closed

[2018-08-20 03:55] #40 closed

[2018-08-20 03:57] loklaan commented on #42
@iamtommcc after missing a couple meetups, I can't remember if these were done by someone already (Julian/Aaron)?

[2018-08-20 04:08] loklaan opened #49 "Requested topic: Documenting components"
There are a couple REALLY nice solutions for documenting components in the community.

Ranging from statically analysed API docs, to adhoc docs with rich interaction.

* Flow
* Typescript
* Storybook
* MDX (via [docz](https://www.docz.site/))

It'd be great to go over each of these, with a quick example of usage and individual/team cases!

[2018-08-20 04:10] loklaan opened #50 "Requested topic: Suspense and what it means for you"
React Suspense is a really nice pattern for performant data driven UI.

The internals are pretty cool, but what's better to know is how this rad thing affects people and their individual/team case.

**Do you _have_ to rewrite all your components?**
**What does this allow me to delete in my existing codebase?**
**Should you stick to pre-suspense patterns for now?**
**How easy is this to pick up as

[2018-08-20 04:18] loklaan opened #51 "Requested topic: Squashing Redux concerns into GraphQL Clients"
If you've never seen popular GQL clients in action, as a frontender, this introduction can be really eye opening.

The redux data layer of your frontend app can _easily_ balloon into a monstrosity of verbose action/reducers, and while the management of all-that is a topic within itself, jumping off of the wagon onto a similar solution like Apollo (a popular GQL client) can reduce to amount of rese

[2018-08-28 00:17] loklaan commented on #49
Done, Aug 2018

https://drive.google.com/open?id=13KoT7iNuqdQ7TZI6DDZ51nLtXGuBxe0C-eEE9-IiDKc

[2018-08-28 00:17] #49 closed

[2018-08-28 23:04] chris-divvito commented on #48
Hey, sorry for the slow response, We've filled the position, thanks very much

[2018-08-29 00:57] #48 closed

[2018-09-17 04:38] loklaan commented on #41
Yo @jannakha, not sure if we've met 🤔 But we would still LOVE for you to continue on this proposal, as lazy loading chunks of application is to this day a great topic that'd benefit others.

Let me know if you'd like to push it forward, or even if you think you won't have the time. Regardless, let's see what we can do with this submission!

[2018-09-18 03:43] cartant opened #52 "Contributing to Open-Source Projects"
Hi. I've recently accepted a position at Rexlabs and Harold - the recruiter who matched me with the company - has mentioned that ReactBris is seeking another talk for the Monday, 24 September meetup.

I don't have any React-specific talks prepared, at the moment, but I have been compiling notes for a talk on why developers should - and how they can - contribute to open-source projects.

I've been

[2018-09-18 22:04] loklaan commented on #52
Nicholas this sounds *great*! I'm delighted that you're delighted haha ✨

I think the topic will be well received.

I'll lock it in, and be in contact with you (via twitter) later in the week with any extra details you may need.

[2018-09-19 07:56] patrickgordon commented on #52
Sounds like a great talk. Only recently started contributing to open source projects (that aren't my own) and definitely think this would be helpful.

[2018-09-20 07:18] Jesseppi opened #53 "TechnologyOne and ReactJs"
A talk about **TechnologyOne's** recent adoption of the **ReactJS** framework.
Detailing:
-  the journey to adopting React as part of TechnologyOne's stack
-  how the development of a **custom Design System** came about and the benefits it provides
-  the evolution of an **Internal component library**
-  **Deployment** on an enterprise scale.

This presentation will include high levels sarcasm, a

[2018-09-20 09:46] loklaan commented on #53
Thanks for submitting Jesse! I'm stoked!

[2018-09-25 06:25] scotartt opened #54 "React in an enterprise cloud environment"
I can offer a talk around the use of React in an "enterprise" cloud environment. We (as in, Virgin Australia, the company I work for) are migrating our very out-of-date data centre based "enterprise" environment to a brand new environment running the services layer in Kubernetes hosted in AWS. My focus in the this effort has been in three main areas: the automated build pipeline (on Gitlab CI); th

[2018-09-25 11:16] cartant commented on #52
If anyone is interested, the slides from the presentation are [here](http://cdn.s3.cartant.com/reactbris-2018-09-24/index.html).

There is more information on contributing to open-source software here:

* [How to Contribute to Open Source](https://opensource.guide/how-to-contribute/)
* [Guide to Idiomatic Contributing](https://github.com/jonschlinkert/idiomatic-contributing)

There are some exampl

[2018-10-01 15:10] jannakha opened #55 "Talk request: Data normalisation"
anyone has examples of data normalisation? eg when api returns too much data/garbage and you need to 'tidy' it  up for components?
where do you process it? middleware? any issues/gotchas?

[2018-10-02 23:41] loklaan commented on #52
Thanks again Nicholas!

[2018-10-02 23:41] #52 closed

[2018-10-02 23:41] loklaan commented on #53
Thanks again Jesse!

Feel free to reply with resources of the talk, like a link to the slides etc. Not required, but appreciated.

[2018-10-02 23:41] #53 closed

[2018-10-02 23:46] loklaan commented on #54
Sounds good Scot, although perhaps too broad.

Would you be able to tighten the scope of the talk to avoid spooling into the challenges of DevOps (despite it being a great topic on its own)?

P.S. You might like to present & talk on the services layer changes you and the team are making at the API and Microservices Meetup. It's on this month, and reoccurs every two months.

[2018-10-03 00:45] scotartt commented on #54
Hi Loklaan

Yes, I will have a think about how I can best tighten the scope to ensure it will focus around React over the next few days.

My initial thoughts fall to something like "The challenges of using React to deliver custom apps for airline operations". This might present some interesting points of difference from public-facing applications, especially in the capabilities of delivering a Rea

[2018-10-07 22:51] loklaan commented on #55
Great suggestion. We've been on the lookout for speakers that'd love talking about data, so this add's to the demand!

Thanks Janna

[2018-10-16 01:51] Maxim-Filimonov commented on #51
I can give a talk on that topic. During my time mentoring at coding boot camp I did find that Redux is a very complex solution and gets beginners confused a lot.
With GraphQL it's way simpler... until you need to update your client cache :-D

[2018-10-17 09:17] loklaan commented on #51
@Maxim-Filimonov Hey mate!

Thank sounds amazing. We'd love you feature you in the upcoming meetup!

I think this topic is really important, and a lot of folks have expressed keen interest in hearing about it (from any kind of angle).

Let's get this going; steps from here are to
1. expand on the above, in either going down the GQL route of client-side state management, or something else like Mobx

[2018-10-17 09:20] loklaan commented on #54
Hi Scot!

This talk has grit! I like the tightened direction a lot. I think there will be more than a few enterprise frontend folks that'd be keen on it.

Also I've always been interested to know what runs the in-house airline gadgets!!

Let me know if you want to move ahead on this; there are spots available on this upcoming Monday's meetup.

[2018-10-17 10:41] Maxim-Filimonov commented on #51
In reverse order :trollface:
2. I can prepare the talk over the weekend, no worries. Improv is the best, anyway ;)

1. Depends on the preferred focus area for the talk:
- **State management conceptually** - I can talk about state management as a concept and give examples of MobX / Redux/others as possible solutions for specific problems. Redux has a specific use case it was designed for, the conce

[2018-10-17 10:53] loklaan commented on #51
I think you're right. It's easy to relate to CRUD glue, so the side-by-side should roll over perfectly.

Brilliant!

I usually write titles & small intro's for the talks. They go up on the meetup page and twitter. I'm time-poor this weekend and will be rushing as is - would you like to help out an extra tad and come up with these for you talk? Have a look at past meetup pages for inspo.

Thanks ag

[2018-10-18 08:41] scotartt commented on #54
Well, yep, I can put together the presentation this weekend. What's the optimum length?

[2018-10-18 11:11] Maxim-Filimonov commented on #51
how about some FP humour ? - "Reducing Redux with GraphQL"

[2018-10-18 11:35] loklaan commented on #51
Ha, that's great, good one. I'll extrapolate a description.

On Thu., 18 Oct. 2018, 9:11 pm tpaktop, <notifications@github.com> wrote:

[2018-10-21 04:06] Maxim-Filimonov commented on #51
Wonder does many people want to hear about the fundamental difference between GraphQL and REST? Thinking of it as good intro

[2018-10-21 04:30] loklaan commented on #51
Probably, but that's a different topic hahaha

[2018-10-21 05:48] Maxim-Filimonov commented on #51
I know right :) So I will cut the introduction to the minimum, presuming that most people are aware of the difference.

[2018-10-28 13:23] #51 closed, assigned to nobody

[2018-10-28 13:23] #54 closed, assigned to nobody

[2018-11-22 07:09] anisjonischkeit opened #56 "Intro to Reason React"
I'm using Reason React in a side project and am so far liking it.

The talk could cover:
 - What ReasonML does well (why people are excited about it)
 - What warts I have come across so far
 - How to get started with Reason React

[2018-11-23 05:06] jwulf commented on #56
Reason is the future.

[2018-11-26 03:19] loklaan commented on #56
@anisjonischkeit Sounds amazing!

I've personally been keen to hear a talk on this, even more-so after seeing your agenda.

When would you be keen to present? Next year when we're back? At tonights Meetup we're opening the floor to lightning talks so you could do a condensed version if you're able to make it...

Looking forward to hearing back from ya

[2018-12-07 04:09] mikerubio720 opened #57 "Senior Full Stack Developer (React.js & Node.js also Ruby, Rails)"
Hey guys & girls!
I’m working with an established tech startup Outfit.io who’s coming off the back of a sales cycle and after having won a stack of new business they are ready to grow their team for the future. The opportunity to work with world-class technologies and develop solutions that will be adopted on a global scale. We want to hire exceptional talent to grow the Outfit platform and brand.

[2018-12-07 04:35] loklaan commented on #57
@mikerubio720 Hey mate, are you able to add transparent details about the role?
eg. the company, their values, their history etc

I don't want to be hostile towards recruitment, but I need to extra information for it to be helpful for our meetup members.

[2018-12-10 03:31] mikerubio720 commented on #57
No worries I'm just checking this with my client, I don't think it'll be an issue but I want to make sure I have their permission to give more of their details. I'll update this soon

[2018-12-25 00:02] Maxim-Filimonov opened #58 "React for static websites with Gatsbyjs"
We have been moving our public website from hosted solution to Gatsbyjs recently.
I find it a pleasure to work with and would love to share my experience with it.

Gatsbyjs designed to help build modern data driven websites hosted statically. So called JAM stack.

[2019-01-11 01:12] muntasirjoarder opened #59 "Redeveloped my website muntasirjoarder.net in GatsbyJS"
Amazed to enjoy the simplicity of development in GatsbyJS along with the blazing fast site loading speed.

[2019-01-16 01:55] julianburr opened #60 "Why Suspense will be a game changer"
I'm still hyped about React Suspense (even though it will still be a bit till it's going into stable release). Would basically like to cover:

 * basic technical explanation of what Suspense is (basically a very brief summary of my talk last year)
 * focus the rest of the talk on how it changes how we will architect our apps and think about loading states (just like error boundaries did/do for err

[2019-01-17 01:46] loklaan commented on #60
Brilliant Julian, can't wait!

Would you mind generating description of the talk, which will make it's way into Meetup & Twitter?

[2019-01-17 01:48] loklaan commented on #56
@anisjonischkeit Hey mate, would you like to present in Feb 😃

[2019-01-17 01:49] loklaan commented on #58
Hey @Maxim-Filimonov !

What would the talk/your experiences be comprised of? I'm asking because Gatsby was talk about in Sept (or maybe earlier...) last year, and I've love this talk to flip the script.

[2019-01-17 01:53] loklaan commented on #59
That's great! Look's good and is very fast.

Let us know if you take on large project's with Gatsby, we'd love to hear about enterprise/production experiences at the meetup.

[2019-01-17 01:53] #59 closed

[2019-01-17 01:54] #57 closed

[2019-01-17 01:57] #3 closed

[2019-01-17 01:57] #4 closed

[2019-01-17 01:57] #18 closed

[2019-01-17 03:38] anisjonischkeit commented on #56
Yep sounds good.

[2019-01-17 07:18] anisjonischkeit commented on #56
Heart of the Valley is way easier for me :).

Some guidance would definitely be appreciated. I'll probably send you a message closer to February. Is twitter a good place to contact you?

[2019-01-17 08:36] loklaan commented on #56
Yup that's a good place.

[2019-01-18 05:08] loklaan commented on #9
@nk2580 HEY! 😄

It's been touched on several times in other talks that were broader in scope. _eg. several takes/experiences on managing code for components and componentised applications_

But yeah this in isolation seems like it'd be suitable for a lightning or a short talk, depending on how deep you want to go.

Some other points that I think audience members would like to hear are:

1. Differe

[2019-01-18 05:45] nk2580 commented on #9
@loklaan happy to cover all those points on a talk. Unfortunately I can’t do this month. Can do next month though. The 25th?

[2019-01-18 05:58] julianburr commented on #60
Will think of an outline this weekend and shoot through a description here :+1:

[2019-01-18 05:58] loklaan commented on #9
@nk2580 Brilliant, thanks! Yeah let's queue it up for next month. I'll generate a different issue for you some point today. 👍

[2019-01-18 05:58] #9 closed

[2019-01-20 06:53] loklaan commented on #58
I like the sound of that! Gotcha's are soooo important to share :)

Could we queue this up for a future meetup... maybe March?

I'll need the following from ya:

* Title
* Short and long form description, which are used on Meetup and Twitter
* Length of talk (we're generous, but try ya best to stay within your estimate. :)
* Your Twitter handle, if you'd like me to tag you in posts

[2019-01-20 07:06] julianburr commented on #60
@loklaan ok, elevator pitch doesn't change much:

Why React Suspense will be a game changer - How Suspense will transform the way we think about loading states and architect our apps

Let me know if you need more details ... quite a bit to cover, but I'll make sure to squeeze it into the 30min time frame :wink: Next meetup is 25th Feb, correct?

[2019-01-20 07:51] loklaan commented on #60
Correct! Thanks for this description! I think it's fine, albeit succinct 🤣

[2019-02-02 00:54] KathrynAWalker opened #61 "Part-time Fullstack Engineer at Gilt Investments"
## Gilt Investments

Gilt Investments is a fixed income specialist firm, offering fixed income products to the Australian public as a secure alternative to volatile and high-risk investments such as shares and property.  We currently operate on a service based model, whereby we provide guidance on the construction of Fixed Income portfolios for our clients.

Gilt Investments is seeking to automate

[2019-02-08 05:58] nk2580 opened #62 "Component hell & how to try and escape"
## Summary of talk

a journey through component sharing and the difficulties it creates

## Details

**Title of the Talk**
Component hell & how to try and escape

**Description of the Talk**
a walkthrough of the experiences, key learning and wishlists for component sharing in React applications. the challenges faced integrating Bit, Lerna, Yarn workspaces and my eventual preferred solution (basica

[2019-02-08 05:59] nk2580 commented on #9
sorry for the slow reply @loklaan
https://github.com/reactbris/meetup/issues/62 was just made

[2019-02-09 23:43] loklaan commented on #62
@nk2580 Thanks for making the issue, looking forward to this one 😻
Want to do it during the March meetup?

[2019-02-10 02:07] nk2580 commented on #62
@loklaan happy to talk at either the February or March events.

[2019-02-19 01:43] theharold9000 opened #63 "Recruitment Q&A"
## Summary of talk

What tech is in demand? How do you ACTUALLY attract top developers? Which recruiters are actually good? All questions will be answered, you just have to ask them.

## Details

**Title of the Talk**
Recruiting participants for a Q&A with a recruiter on recruitment.

**Description of the Talk**
There's a lot of hearsay, opinion and general questions around all things recruitment.

[2019-02-19 03:25] loklaan commented on #63
@theharold9000 Want to do it again this Feb event?

[2019-02-19 03:28] theharold9000 commented on #63
@loklaan Yep let's do it. I may be doing one at BrisJS already but it's unconfirmed and regardless, it never hurts to have more Q&As 😃

[2019-02-20 11:04] jwulf commented on #63
I'm Josh Wulf, and I endorse this message.

[2019-02-21 09:46] loklaan commented on #62
March is ideal! 😸 I'll add you to the next one.

Also I'd like to say thanks, it's lovely to get early speaker buy-in!

[2019-02-21 11:58] nk2580 commented on #62
@loklaan happy to do March, actually starting the Brisbane Flutter community on the 28th so timing ends up working better.

[2019-02-21 12:09] loklaan commented on #62
@nk2580 We're changing up the date actually! You're the first to know. Last week of the month was getting to heavy with other meetup's so we've jumped back to the third week (where we were most of last year).

[2019-02-26 02:51] MichaelDorkhom opened #64 "[Full Time] Full-stack developer at DoseMe"
![image](https://user-images.githubusercontent.com/10858275/53383737-60af8680-39c4-11e9-8e5b-9709b9e16530.png)
DoseMe is looking at hiring a full time intermediate full-stack developer. By joining the team you will be able to apply your skills to develop software used to improve patient care in hospitals around the world!

We develop a real-time precision dosing software designed for clinicians to

[2019-02-26 08:50] loklaan commented on #64
👏 Great ad @MichaelDorkhom! I'll try my best to show it briefly at the next meetup.

[2019-03-02 21:55] #56 closed

[2019-03-02 21:55] #60 closed

[2019-03-02 21:56] #63 closed

[2019-03-10 23:56] loklaan commented on #62
Hey Nik, how're ya travelling for this talk?
Just a friendly reminder that the event is on next week, and that I'm stoked to hear you present! 😊

[2019-03-10 23:57] loklaan commented on #62
Hey @nk2580, how're ya travelling for this talk?
Just a friendly reminder that the event is on next week, and that I'm stoked to hear you present! 😊

[2019-03-12 14:37] emanuelet commented on #55
I use heavily `immutabiliy-helper` to do that but I don't think it will be enough stuff for a talk

[2019-03-12 19:53] patrickgordon commented on #55
We do this heavily at jumbo. I’d be happy to do a talk about it.

On Wed, 13 Mar 2019 at 12:40 am, Emanuele Tonello <notifications@github.com>
wrote:

--
Thanks,
Patrick Gordon
0433 596 599

[2019-03-12 23:36] loklaan commented on #55
@emanuelet Could be perfect for a lightning talk! 😄

---

@patrickgordon Oooo, yes, please!
We're still on the lookout for another 15-20min talk this coming Monday? I personally love a good normalisation chat, as I think the implications on the UX often goes under-the-radar.
P.S. Your phone number (email sig) came through to github 😮

[2019-03-12 23:51] emanuelet commented on #55
hmmm, ok I will put together a quick one.What do you guys normally use for slides?

[2019-03-12 23:57] patrickgordon commented on #55
Unfortunately busy this Monday. I could do next month

[2019-03-13 00:30] loklaan commented on #55
@emanuelet Depends, if it's for a lightning talk I try to slap 3-4 slides together in Google Slides (or if it involves code, I try and find time to setup Spectacle with it's code plugin)

[2019-03-13 00:30] loklaan commented on #55
@patrickgordon It's on the 15th April 🙌 Should be G?

[2019-03-13 00:53] patrickgordon commented on #55
:+1: i can do that , I leave on the 17th.

[2019-03-13 00:55] loklaan commented on #55
@patrickgordon So keen, awesome! When you have a couple mins, could you open another [GH Issue](https://github.com/reactbris/meetup/issues/new/choose) for the talk? 🙏

[2019-03-13 00:55] patrickgordon commented on #55
Sure thing will do today during lunch break

[2019-03-13 03:10] patrickgordon opened #65 "React and API data normalisation"
## Summary of talk

Requested by #55.
Presentation around normalising REST API data and trying to keep sane.

## Details

**Title of the Talk**
React and API data normalisation

**Description of the Talk**
We'll discuss what data normalisation is, and why it might be useful for your project. I'll also cover how you can do it using abstractions to reduce code duplication, as well as some of the com

[2019-03-13 03:27] patrickgordon commented on #65
As mentioned can't do this months but can do 15th April

[2019-03-14 04:38] loklaan commented on #55
@emanuelet Hey Emanuele, still up for a lightning talk on Monday? 😄
If so, I'd love if you could make another [GH Issue](https://github.com/reactbris/meetup/issues/new/choose) as well, with some description that'll make it's way into the ReactBris meetup event page. 🙏

[2019-03-14 04:40] loklaan commented on #65
@patrickgordon 👌 Looks good, can't wait! I've put it in the milestone for next month.

[2019-03-14 04:48] emanuelet commented on #55
ok will do

[2019-03-14 05:02] emanuelet opened #66 "Lighting Talk: Dealing with immutable data"
## Summary of talk

Requested by #55.
Lighting Talk about managing immutable data with the `immutaiblity-helper` package.

## Details

**Title of the Talk**
Dealing with immutable data

**Description of the Talk**
I'll talk about how to leverage immutability when a React app has to talk with an API and consequently update the state in a way that considers the different state of components and main

[2019-03-14 05:03] emanuelet commented on #55
done. @patrickgordon have at it https://github.com/reactbris/meetup/issues/66 because there can probably some overlap with what you're gonna talk about

[2019-03-14 13:24] loklaan commented on #66
Thanks @emanuelet, looking forward to it! I want to pick your brain about granular observability vs immutable filtering 😊

[2019-03-18 23:49] emanuelet commented on #66
slides for who's interested https://slides.com/emanueletonello/immutability-helper

[2019-03-19 00:05] emanuelet opened #67 "Full-stack developer at Monarc Global"
![Monarc Logo](https://pbs.twimg.com/profile_images/1019802831530819585/aoU6nHlK_400x400.jpg)

Brisbane based Aviation start-up Monarc Global is looking for a full-time gun Developer. Applicant must be based in Brisbane or willing to relocate. Position available ASAP.

### Necessary skills include:
- Node.js experience.  At least 2 years work experience.
- MYSQL and SQL experience.
- React experie

[2019-03-25 12:43] iamtommcc commented on #58
Hi @Maxim-Filimonov, would you still be interested in delivering this talk? I think it'd be really interesting, and people would love to hear about someone's realistic experiences with Gatsby (good and bad 😉 ).

[2019-03-26 07:59] Maxim-Filimonov commented on #58
That's going to be a difficult one as I have left Brisbane. No plans to come back at the moment.

[2019-03-27 04:11] nk2580 commented on #62
so it would seem that the entire issue i was having can be really easily resolved with this https://github.com/facebook/create-react-app/issues/1333#issuecomment-474762001

my talk is now no longer valid, sorry guys

[2019-03-27 07:09] loklaan commented on #62
<p align="center">

<img src="https://media.giphy.com/media/l0zAiJHyg0fMA/giphy.gif" />

</p>

[2019-03-27 07:10] loklaan commented on #62
That would be a great end a talk actually haha, but I don't think it invalidates anything.

Not to mention not everyone will/should use CRA.

How about a talk on using CRA in a monorepo?

[2019-03-27 07:40] nk2580 commented on #62
Fair Enough.... can do that instead.

[2019-03-27 11:29] basher commented on #62
@nk2580
Nik, I'm glad you found my solution helpful. I can't begin to tell you how frustrating the whole process was!!

You might be interested to know that `lerna add` does not allow me to import/use different versions of the Storybook library (which I've published to a private NPM repo).

i.e. using commands like the following does not update library versions in each consumer app:

[code]

Inste

[2019-03-27 13:14] nk2580 commented on #62
@basher thankfully my use case allows me to sync versions of create react app and storybook across all my packages.

This is a good example of a note that should be added to the docs though

[2019-03-28 12:14] julianburr commented on #44
As mentioned I'd be keen to do a talk on toolkits at the May meetup, essentially a general introduction what toolkits are, why they are super useful, why react-scripts and cra are so great and why you should still write your own 😅

Ideally after that we could have a panel of people with experience / opinions to answer everyone's questions.

Thoughts?

[2019-03-28 14:07] loklaan commented on #44
Yeah I'm down. Did you imagine having a panel in the same meetup (may?).

[2019-03-29 04:54] iamtommcc commented on #58
Hahaha fair enough mate! Thanks anyway :+1:

[2019-03-29 04:56] #58 closed

[2019-03-29 06:29] julianburr commented on #44
I think if possible it would make sense, so people who have questions or wanna get a bit more details after the talk have a bunch of people to aim those questions at, in a separate meetup would mean it would be kind of out of context I guess

Just a wish/suggestion tho :smile:

[2019-03-29 06:54] loklaan commented on #44
No, you're right.

When thinking about the kind of diversity in people and tech for a panel like this, I imagine it being broader than React. 🤔 It might be more suitable, as a Panel, to be a part of @brisjs.

But as a talk, reactbris certainly needs it imo. Idk, maybe I'm getting in my own way here haha.

@iamtommcc third amigo thoughts?

[2019-04-09 00:26] iamtommcc commented on #65
@patrickgordon Hey mate, super keen for the talk - just wanted to get final confirmation that you're still good for this Monday?

[2019-04-09 00:38] patrickgordon commented on #65
Hey yep still good.

[2019-04-15 22:57] patrickgordon commented on #65
Hey all thanks for having me.

Attached the slides.
[React and API data normalisation.pdf](https://github.com/reactbris/meetup/files/3082345/React.and.API.data.normalisation.pdf)

[2019-04-15 22:57] #65 closed

[2019-04-16 05:32] #66 closed

[2019-04-16 05:33] loklaan commented on #67
Hey @emanuelet, friendly ping to check if this is still relevant?

[2019-04-16 05:33] loklaan commented on #61
Hey @KathrynAWalker, friendly ping to check if this is still relevant?

[2019-04-16 05:33] loklaan commented on #64
Hey @MichaelDorkhom, this is a friendly ping to check if this is still relevant?

[2019-04-16 05:34] #55 closed

[2019-04-16 06:30] emanuelet commented on #67
it's only node js dev now actually

[2019-04-16 06:34] loklaan commented on #67
@emanuelet No worries! Well, I'll take this one down for now as it no longer directly relates to React. But please leave a comment if the job comes back up! Have you cross-posted to brisjs? They have a similar setup for postings.

[2019-04-16 06:34] #67 closed

[2019-04-24 10:22] NikChao opened #68 "React Amsterdam wrap-up"
## Details

**React Amsterdam Summary**

**Description of the Talk**
I've just returned from react-amsterdam with some lessons learnt, and stories to tell. In this talk I will go over some of the key takeaways from the conference.

**My Info**
Twitter @nik_the_dev
Github @NikChao

[2019-04-28 21:44] MichaelDorkhom commented on #64
Hi @loklaan, the position has been filled so I'll close the ad. Thanks again for the opportunity to share this here.

[2019-04-28 21:44] #64 closed

[2019-04-28 23:14] loklaan commented on #68
@NikChao Keen! I want to open with this - to cover all the lessions-learnt & stories, how long would you think it'll take? Ballpark in increments of 10minutes.

[2019-04-28 23:22] loklaan opened #69 "Svelte"
## Summary of talk

[Svelte](https://svelte.dev/) recently hit [3.0](https://twitter.com/Rich_Harris/status/1120342713843507201) to much fanfare.

So, what's this framework all about?
Is it the future of app development?
What patterns can we expect to translate from React to Svelte?

---

If anyone in the community is interested in new frameworks and gives this one a try, please consider doing a t

[2019-04-29 01:06] NikChao commented on #68
@loklaan Will aim for less than 20

[2019-04-29 02:35] Quintisimo opened #70 "Hooking into React"
## Summary of talk
With the stable release of react hooks and effects I think its the right using there new features and leaving classes in the dust.

## Details

**Title of the Talk**
Hooking into React

**Description of the Talk**
- Introduction to Hooks and Effects
- Using reducers with react
- etc.

**My Info**
@quintisimo everywhere on the internet

[2019-04-29 05:58] loklaan commented on #70
Hey @Quintisimo thanks for volunteering mate!

We've very recently had a talk on hooks, and to a fuzzier degree reducers as well. I love hooks but I'm hesitant to saturate the meetup with talks on it 😄

* If you're ok with "banking" this topic, we could do it again in another 6 months or so?
* If you're interested in other parts of react and want to volunteer talks for this topics then please do a

[2019-04-29 06:00] loklaan commented on #68
👏 Keen

I've Loched it in for the May meetup.

[2019-04-29 13:37] Quintisimo commented on #70
@loklaan How about a talk on the checking react and the advantage of typescript?

[2019-04-30 00:33] loklaan commented on #70
@Quintisimo Did you have specifics in mind?

[2019-05-02 05:30] Quintisimo commented on #70
@loklaan I'm not currently sure, I still trying to come up with a new topic

[2019-05-03 04:40] loklaan commented on #70
@Quintisimo No worries.

There are many levels of depth to using TS in a React Project:

- starting as a surface level introduction (which there have been many talks about in the past)
- meandering around the hard parts of using TS directly, such as not-often-told pitfalls to avoid and successful strategies for quickwin typing
- all the way down to rich case-stories on how using typing in an app's

[2019-05-06 11:19] Quintisimo commented on #70
@loklaan hey sorry I it took me so long to reply. I like the third idea of talking about how typescript helped with being a big project for the company I work. I just have to clear it with my complany if they are ok with me showing code snippets of the project

[2019-05-08 06:41] triyuga opened #71 "React Snapshot: Get the benefits of server-side rendering, without a server!"
## Summary of talk

Sometimes you want to make a simple "brochure" website, and you really want to get  all the SEO benefits you can from it.

React is so nice to use that it's tempting to use it all the time, but in this case, it's not a good fit.

Typically, to get SEO benefits, you need to server-side render your React application, which means setting up a server, which pretty soon starts to fe

[2019-05-08 08:15] triyuga commented on #71
I'm not sure if I created this with the correct label. I think it should be in `talk volunteered` rather than `talk requested` .. ?

[2019-05-11 09:00] patrickgordon opened #72 "Rapid prototyping with React & Firebase"
## Summary of talk

I've been eager to do some more side projects but rather spend time on the parts I love (front-end) and less effort on the tedious smelly things (auth, databases, and API).

In this talk, I want to show how you can quite quickly build a "functional" web app using React and Firebase.

## Details

**Title of the Talk**
Rapid memes for React keen beans.
(or a title that doesn't su

[2019-05-13 04:20] loklaan commented on #72
Nice one @patrickgordon 🤙

Long-shot, but any chance this would involve attendee participation? eg. open data entry of some kind

---

Generally, very keen for talks like this! I operate on this stack at work.

[2019-05-13 06:37] patrickgordon commented on #72
Yep we could definitely make a real time web app of some sort. I will just need internet access if possible.

[2019-05-16 06:28] loklaan commented on #72
@patrickgordon Exciting 🙌

Want to perform in the June meetup?

[2019-05-16 06:39] loklaan commented on #71
Hey @triyuga , thanks for volunteering this stuff! I had thought I'd replied last week 😬

Are you ok to present in June?

---

**Early Feedback**

* We've only had one SSR talk in the past, iirc, and it was quite awhile ago. You should have an attentive audience!
* If you're up for it, it may be good to cover [more popular alternatives](https://www.npmtrends.com/react-snap-vs-react-snapshot-vs-rea

[2019-05-16 09:54] weizang-75 opened #73 "(e2e): win friends and influence people with e2e testing"
## Summary of talk

A business stakeholder comes over and asks for some software to be engineered.

"*No worries,*" says I... "*That's my job after all. What exactly do you want me to do?*"

And that's where the problems start.

What they say and what you hear are different.
Visa versa same. Simply put, we're talking different languages.
Has anyone NOT seen this happen over and over?

You might ve

[2019-05-17 03:29] patrickgordon commented on #72
What date is it @loklaan? I might be in Sydney for work

[2019-05-18 09:40] patrickgordon commented on #73
+1 Interested in this.

I'd also love to hear how you deal with e2e testing in a microservice arch from a CI perspective. but perhaps we can just chat about that after :)

[2019-05-18 11:22] loklaan commented on #72
@patrickgordon Looks like it's the 17th!

[2019-05-18 11:35] loklaan commented on #73
Nice Chris, this looks awesome! Honestly, there aren't testing talks out there 😆

Would you be ok to come on to the June meetup (potentially alongside Pat 😮)

---

Early feedback is kind of in the same line as Pat above, what kind of stack scenarios are you covering? React apps come in all shapes, sizes, and data sources.

[2019-05-20 01:39] triyuga commented on #71
@loklaan Yes, June will be fine. And yes I'll update the talk to incorporate your above feedback.

[2019-05-20 20:09] cartant opened #74 "Resources for the Experimental React DevTools talk"
A few people asked me about references for some of what was discussed in last night's talk. Here they are:

* The slides for the talk are [here](http://cdn.s3.cartant.com/reactbris-2019-05-20/index.html).
* [`react-devtools-experimental`](https://github.com/bvaughn/react-devtools-experimental) is the GitHub repo for the DevTools.
* [Brian Vaughn](https://twitter.com/brian_d_vaughn) is worth a foll

[2019-05-21 03:37] loklaan commented on #71
Amazing, thanks Tim looking forward to next month.

[2019-05-21 03:39] #68 closed

[2019-05-22 20:00] patrickgordon commented on #72
I will check today if I'm in town @loklaan

[2019-05-23 04:07] patrickgordon commented on #72
Yep I'm in town. Happy to do it on the 17th :)

[2019-05-27 05:59] 4xDMG opened #75 "Frontend Developer at Liquid State"
Looking for a talented React.js Developer to come and join our growing team at Liquid State’s head office in Brisbane. Work alongside our experienced staff who are considered specialists in this space and are known for their deep knowledge across web technologies.

As an ideal candidate, you would be an established developer with the capability to be a creative thinker, who can systematically work

[2019-05-28 04:08] loklaan commented on #75
Cheers @4xDMG - I'll mention there is a new job post up during the next meetup 👍

[2019-05-30 06:55] jordanoverbye opened #76 "Customising your JSX pragma for utility CSS-in-JS"
## Summary of talk

I'd like to give a talk about how you can write your own custom JSX pragma to use utility CSS frameworks (such as tailwind, tachyons or turretcss) in a CSS-in-JS syntax.

## Details

**Title of the Talk**
Customising your JSX pragma for utility CSS-in-JS

**Description of the Talk**

Things I'd like to cover:

- What are custom JSX pragmas
- Pros/cons/use cases on utility first

[2019-05-30 06:59] loklaan commented on #76
Yesss my favourite topic 👏 - would you be up for July? How long would you like to present?

---

Early feedback:
* Can't get enough CSS talks like this.
* You'll probably want to unpack the term "pragma" as quite a few attendees are just starting out (in programming)

[2019-05-30 09:03] jordanoverbye commented on #76
Yep @loklaan I am able to do this talk in July. I'm thinking I'll talk for 20mins, maybe 25 depending how far I dive into each topic. I'll chat to you in person about this.

No worries, I'll make sure to make this talk beginner friendly. Thanks for the suggestion 🎉

[2019-06-02 01:53] patrickgordon commented on #76
This sounds awesome!!

[2019-06-03 05:05] #61 closed

[2019-06-04 00:29] unixbigot opened #77 "Using bluetooth in react native"
## Summary of talk

So you have a bluetooth sensor or actuator, (say a thermostat, or a door lock, or a garden sensor) and you want to control it from your app, but you'd prefer to stay in react rather than work in Java or Swift just to get access to handset hardware.   We'll look at some examples of how to do this and how to explore bluetooth low energy devices in general.

## About the speaker

[2019-06-04 07:37] loklaan commented on #77
@unixbigot So keen! How's your cal looking for July 15th, or August 19th? 🎉

With such a long lead-up too, I'm thinking we could organise & pay for prizes with your talk? Like, you drop tasty facts during the talk, and at the end you have 5 questions going back to them; winners get a board. What do ya think?

[2019-06-04 07:46] unixbigot commented on #77
Either of those dates are doable.   Your idea sounds fun, I've never done that before.   Don't let me throw prizes, I'm a klutz. :)

[2019-06-10 00:23] theharold9000 opened #78 "Recruitment Q&A"
## Summary of talk
Another installment of my long running Q&A series, designed to pull back the curtain on all things related to hiring, getting hired and my general perspective on Brisbane. Audience participation is encouraged, if not required.

## Details

**Title of the Talk**
Recruitment Q&A

**Description of the Talk**
What tech is in demand? How do you ACTUALLY attract top developers? Which

[2019-06-11 09:49] loklaan commented on #73
BTW I started reading this book, very very good. 😄

[2019-06-12 05:31] iamtommcc commented on #72
Can't wait @patrickgordon, see you on Monday!

[2019-06-12 05:34] iamtommcc commented on #71
Hey @triyuga, looking forward to your talk on Monday 🎉

Lochie is out of town for this meetup so feel free to hit me up if you need anything before then :+1:

[2019-06-16 00:25] patrickgordon commented on #72
Yep seeya then @iamtommcc

[2019-06-17 01:26] 4xDMG commented on #75
@loklaan This job has been filled now so no need to bring it up tonight. Cheers

[2019-06-17 01:26] #75 closed

[2019-06-17 21:35] patrickgordon commented on #72
Hey all,

- Sample code: https://github.com/patrickgordon/react-firebase-example
- Slides: [React + Firebase = Rapid Prototypes.pdf](https://github.com/reactbris/meetup/files/3298914/React.%2B.Firebase.Rapid.Prototypes.pdf)

[2019-06-17 21:35] #72 closed

[2019-07-02 06:18] iamtommcc commented on #77
@unixbigot Hey mate, looks like a really fun talk to be honest! Would you be good if we locked you in for July 15?

[2019-07-04 00:53] unixbigot commented on #77
Yeah I can do then, @iamtommcc

[2019-07-04 01:43] theharold9000 commented on #78
What are the interest levels like on this @loklaan @iamtommcc?

[2019-07-09 01:07] 4xDMG opened #79 "Frontend Developer at Liquid State"
Hey all,
We're hiring again! See details below

### Description

Looking for a full time talented React.js Developer to come and join our growing team at Liquid State’s head office in Brisbane. As an ideal candidate, you would be an established developer with the capability to be a creative thinker, who can systematically work through bugs and is not afraid of technical problem solving. You will b

[2019-07-13 05:49] #71 closed

[2019-07-13 05:49] #73 closed

[2019-07-13 05:51] loklaan commented on #77
Looking forward to it Biggs!

I've got around finally to doing the collateral, and wanted to say thank you for a great summary & speaker blurb! 🙏

[2019-07-15 07:07] loklaan commented on #78
@theharold9000 OOOOPPSS I had this as unread. Yeah still keen Harold, but we'll play it by ear?

[2019-07-15 07:19] theharold9000 commented on #78
Sure, I'm perpetually at the ready so always happy to jump in with 10+ minutes

[2019-07-16 02:56] #76 closed

[2019-07-16 02:56] #77 closed

[2019-07-19 06:22] xicovarisco opened #80 "Using GraphQL Subscriptions to play Sounds 🔈"
## Summary of talk

How to architect a platform to play sounds in Real Time with GraphQL Subscriptions.

## Details

**Using GraphQL Subscriptions to play Sounds**
How can we empower and excite teams using sounds on custom triggers.

**Description of the Talk**
The idea is to explain why it's important to keep the team momentum high (specially in startups). After that I'll demonstrate how we (Aska

[2019-07-20 08:20] loklaan commented on #80
Extremely excited for this @xicovarisco! Which night would be better for you, Aug 19th or Sept 16th?

Also when we get closer to the date please fill us in on the A/V requirements because we wanna help as much as possible.

---

_Early feedback:_ You got my thoughts during the last event! Would be stoked to have a case-study styled talk like this - there is nothing I would change.

[2019-07-20 11:45] julianburr commented on #50
You know I'm always keen to talk about suspense, so if you're short in speakers I'd be happy to pick this up anytime 😅

[2019-07-20 11:49] julianburr opened #81 "Why Redux is NOT dead"
## Summary of talk

With context, suspense, hooks and all that other new cool stuff going on, more and more people seem to believe that Redux is finally dead. I'd try to show in this talk why this is not the case, what all these different features and patterns are actually useful for and how to pick the best solution for your problem.

## Details

**Title of the Talk**
Redux is dead, long live Red

[2019-07-21 10:11] xicovarisco commented on #80
I believe Setp 16th would be better for me, because I have more time to prepare. Specially because I'm going to a conference in Sydney at the end of August.
Anyway.. we can lock it in. :)

[2019-07-23 07:09] loklaan commented on #80
@xicovarisco I hope it's... campjs! 😆

Anyway yes we'll lock it in for Sept; this is good because I'll be able to make Sept too. 👍

[2019-07-23 07:12] xicovarisco commented on #80
It's nooooot CampJS man. It's another one in Sydney (UXAustralia). We're one of the sponsors there so  I gotta got there :)
Lock it in for Sept.

[2019-07-23 07:13] loklaan commented on #50
With it's release somewhat near (eoy?) maybe it's good to postpone, but I'd love ya doing the talk 🎉

[2019-07-23 07:14] loklaan commented on #81
@julianburr Yaaas this is good. I recently used "redux" in a CLI and it was grand.

Would you cool to do this in Aug??

[2019-07-23 07:16] loklaan commented on #80
@xicovarisco I remember the pics of you folks at the last one! Cool!

[2019-07-23 07:16] loklaan commented on #78
Putting it in for August @theharold9000 - should be a good time for it 👀 😄

[2019-07-23 07:17] xicovarisco commented on #80
Yeah. That one. It will be awesome

[2019-07-24 01:50] julianburr commented on #81
Sure 😊

[2019-07-24 04:04] loklaan commented on #81
Loched in by me, Lochlan

[2019-08-06 06:08] emiaj opened #82 "React hooks and the fetch API"
## Summary of talk

React hooks provide a nice way to separate a component state and effects.
When it comes to fetching data from an HTTP endpoint, there are a few gotchas you need to take into account in order to avoid unexpected bugs.
In this talk, you'll learn how to use them to safely retrieve data from an external HTTP endpoint

## Details

**Title of the Talk**
React hooks and the fetch API

[2019-08-07 03:21] triyuga opened #83 "State management via mobx / mobx-state-tree"
## Summary of talk

I've heard a lot of good things about mobx & mobx-state-tree, but haven't had a chance to play with it yet. I'd be interested in attending a talk on it!

[2019-08-07 23:07] jordanoverbye opened #84 "Building web applications with React, Node and GraphQL"
## Summary of talk
How to combine Keystone v5, NextJS and Apollo to build modern, performant, server-rendered web applications.

## Details

**Title of the Talk**
Building web applications with React, Node and GraphQL

**Description of the Talk**
How to combine Keystone v5, NextJS and Apollo to build modern, performant, server-rendered web applications.

**My Info**
@jordanoverbye

[2019-08-11 23:43] loklaan commented on #84
@jordanoverbye This is brilliant, can't wait! This should close #20 too 🤙

To confirm a couple things;
- [ ] This'll be for Sept 16th?
- [ ] We're hoping for 20minutes, with a cap of 30mins, all g? 😄

_My early feedback was out-of-channel_

[2019-08-11 23:44] loklaan commented on #78
@theharold9000 I've got ya in for the next one, but hit us back if other plans pop up!

[2019-08-12 00:16] jordanoverbye commented on #84
Hey @loklaan

- [x] Sept 16th is fine with me 👍
- [x] Yeah I'll make sure it doesn't go over 20mins. Sorry about last time 😅

[2019-08-12 02:52] loklaan commented on #84
All good, don't be sorry! It's difficult to timebox, even for seasoned speakers.

[2019-08-12 03:00] loklaan commented on #82
@emiaj Hey mate! I do apologise for getting back 6 days later 😬

Thanks for volunteering the talk, it's greatly appreciated, and we'd love to have you.

Would you be available for the August 19th meetup? 😄

[2019-08-12 03:01] emiaj commented on #82
@loklaan sure thing, count me in.

[2019-08-23 10:31] S5041RT41 opened #85 "XSS and React: The on and off relationships that we should stop."
## Summary of talk

Before version 0.14.0, every release of React was vulnerable to the Cross-Site Scripting (XSS) attack. Refer to Snyk (https://snyk.io/vuln/npm:react). Since that version has been released, we can see that XSS regularly comes back in pre-release versions but doesn't make it to the actual release (God bless). So, why is it so difficult to "split them up"?

The main motivations be

[2019-08-25 23:49] sandra-arato opened #86 "Accessibility in React apps"
## Summary of talk

I would love to share some of my go-to tools and best practices about a11y with the group if there's interest. I've set up extra helpers in React apps before which makes accessibility a no brainer for any team, and helped fellow devs out with testing and best practices mantra to get their a11y hat on more frequently. I think any effort is good effort to make the web more access

[2019-08-26 13:58] MelissaMifsud opened #87 "Software Development Engineer at Expedia"
![Expedia Logo](https://filecache.mediaroom.com/mr5mr_expediabrand/177407/EXP_US_Basic_lrg_alt_RGB.jpg)

We are looking for a passionate software engineer with experience in front-end development that does not shy away from back-end code! If you want to help us build the next generation of Expedia's trip management experience, then read on (or go straight to the source [here](https://lifeatexpedia

[2019-08-31 00:45] Shreykhanna opened #88 "Deployment of Web Applications on AWS"
## Summary of talk
Deployment of web applications on AWS using resources such as AMI,EC2 instances, ASG,Load balancers, S3 bucket etc. It will be a 20 mins talk for meetup on 16th September, 2019.

## Details

**Title of the Talk**
Deployment of Web Applications on AWS

**Description of the Talk**
The talk will include :
a) Introduction to AWS.
b)AWS resources required for deployment.
c) Demo.
d)

[2019-09-02 01:38] sandra-arato commented on #86
@loklaan - I'd like to volunteer for this one, but don't have it ready yet. can you please change the label to the right one? I couldn't update it myself 😞

[2019-09-02 02:19] S5041RT41 commented on #85
Hey, @loklaan! :) Not sure if I put the correct label but I would love to present this topic (if it's of interest, of course   ¯\_(ツ)_/¯).

[2019-09-03 08:33] #88 closed, assigned to nobody

[2019-09-13 00:27] iamtommcc commented on #84
Hey @jordanoverbye :) Have locked you in for this Monday. Any dramas, let us know.

Can't wait for it - see you on the night!

[2019-09-13 00:28] iamtommcc commented on #80
Hey @xicovarisco, have locked you in for Monday. Can't wait, see you on the night!

[2019-09-13 03:03] xicovarisco commented on #80
Hey @iamtommcc. Yeah mate, can't wait to present :)

[2019-09-13 23:50] loklaan commented on #85
Hey @S5041RT41! I've been on holiday, hope you're ok with a late reply!

This talk sounds very interesting, I'm sure the folks who come to the meetups would like it both for info and entertainment (as demoing exploits is always fun 😆).

Would you be available to talk at the October event? 😄

_I usually try to give early feedback on volunteered talks, but yours looks well rounded to me!_

[2019-09-13 23:53] loklaan commented on #86
Yooo Sandra - a much belated reply, but yesss this would be an amazing talk!

This month's (Sept) roster is fullup already, but October looks like it would have space for you? 👍

I usually try to give early feedback on volunteered talks, but I have confidence in ya! _(and also I wont be around to see ittt)_

---

_Hmm I think I've got to change the wording for the issue templates - ppl keep choosi

[2019-09-14 00:22] #81 closed, assigned to nobody

[2019-09-14 00:22] #82 closed, assigned to nobody

[2019-09-14 03:42] S5041RT41 commented on #85
Hi, @loklaan. Hope you've had a blast on holiday! 😄 😎
October works very well for me 👍  A shame you won't be there 😢 But hope everything goes fabulous in London!

[2019-09-15 03:34] loklaan commented on #85
👏 Brilliant! Tom will be made aware of this.

Aw thanks! I'll hear about it through the grapevine though hehe.

---

One other thing we need from ya too is deanonymization - folks need to know who is presenting. 😉

Add your details to the issue summary when you're ready.

[2019-09-17 01:38] altheaschutte commented on #83
I would like to put my hand up for that. Ill post up an issue soon to volunteer a talk on this topic.

[2019-09-17 04:48] loklaan commented on #83
Yaaas - thanks Althea 🙌

[2019-09-27 05:41] lleewwiiss opened #89 "Frontend Engineer at Maxwell Plus"
![alt text](https://maxwellplus.com/wp-content/uploads/2019/08/maxwellplus_logo.svg "Maxwell Plus")
[Maxwell Plus](https://maxwellplus.com/) are looking for a Frontend Engineer to join the Maxwell Plus team and help drive the delivery of our cutting edge products to our clinicians and patients. You will be joining the team working to develop the next generation of prostate cancer testing.

## Abou

[2019-10-02 11:20] iamtommcc commented on #85
Hi @S5041RT41, taking over from the magnificent Lochie who is now living it up in London (lucky guy).

Would you still be down to deliver this talk in a 20-30 minute slot on the 21st of October? Because we'd love to have you! Topic sounds incredibly interesting and we definitely haven't had many security-focused talks at ReactBris before.

If you are still keen, as Loch mentioned you'll need to de

[2019-10-02 12:52] S5041RT41 commented on #85
Hello, @iamtommcc :) Sorry for the delay!
Yes, I'm still (very) keen on presenting on the 21st. And my real name is Elizaveta Konovalova ;)

[2019-10-15 03:23] iamtommcc commented on #83
Hi @altheaschutte,

Just wanted to ask if you were still keen to do a talk on MobX? If so, we've got a slot for the October meetup this Monday (sorry for short notice haha - if _too_ short notice there's a slot free for November too!)

Let me know!

[2019-10-17 05:00] Shreykhanna opened #90 "Deployment of Web Applications on AWS"
## Summary of talk

## Details

**Title of the Talk**
Deployment of Web Applications on AWS

**Description of the Talk**
We will learn about what AWS resources can be used to deploy web applications and how to use it.

**My Info**

[2019-10-21 01:20] #90 closed, assigned to nobody

[2019-10-27 04:14] #85 closed, assigned to nobody

[2019-10-27 04:14] #78 closed

[2019-10-27 04:14] #80 closed, assigned to nobody

[2019-10-27 04:14] #84 closed, assigned to nobody

[2019-11-06 23:52] altheaschutte commented on #83
Hey sorry Ive been out of touch. I cant get any Monday evenings free this year as I am committed to teaching these nights. Sorry about that! Hopefully someone else can do a talk on this.

[2019-11-21 03:37] jordanoverbye opened #91 "Building interactive CLIs with React"
## Summary of talk

There are some really great projects out there which allow devs to easily create beautiful command line apps using React and Flexbox.

## Details

**Title of the Talk**
Building interactive CLIs with React

**Description of the Talk**

Topics I'd like to cover:

- How is it possible that React can be rendered to the web, a mobile device, or the console
- A look at some existing

[2019-11-27 03:47] #91 closed, assigned to nobody

[2019-11-29 00:52] TheRealFlyingCoder opened #92 "Throwing out a few ideas from the enterprise world!"
## I have no idea whether this will sound interesting!

**Background**: I've been working at Deloitte Digital for 3 years, spending the first majority of that flying between Melbs/Syd working on ridiculous digital delivery projects... there's a lot of stuff that i've done which will be foreign and hopefully interesting! Now that i'm finally back in Bris through the week I wanted to get back into t

[2019-12-05 08:09] #89 closed, assigned to nobody

[2019-12-13 06:58] xicovarisco opened #93 "Iceberg challenges - Calendar"
## Summary of talk

Everyone knows how fun it is to work for a startup. However, sometimes it can be challenging. You're the (only) responsible for your own success and in this talk I'm gonna show the easy and the challenging sides of it.
Is it frustrating? Not at all!!

## Details

**Title of the Talk**
Iceberg challenges - Calendar

**Description of the Talk**
What are the advantages of working

[2020-01-19 12:39] Shreykhanna opened #94 "State Management In React Using Redux"
## Summary of talk
Sometimes  it become difficult to manage the components state with continuous addition  of components in react application. So we will see how to make use of powerful redux to maintain states of each component.

## Details
**Title of the Talk**
State Management In React Using Redux

**Description of the Talk**
The talk will be about what is redux, how to integrate it to react an

[2020-02-02 12:46] iamtommcc commented on #92
Hey @TheRealFlyingCoder! Welcome to the community and apologies for not seeing your issue submission earlier!

All those topics sound like pretty interesting talk candidates to me. Enterprise Archictecture vs Modern Best Practice in praticular sounds like it'd be full of very practical takeaways.

Would you be down with doing a talk at the March meetup?

[2020-02-11 08:22] iamtommcc commented on #93
@xicovarisco Hey San Fran! Sounds like a fantastic topic (I'm biased since we've been building a Calendar at Rex... so I understand how it can be a huge undertaking haha).

It's short notice but was wondering if you'd be able to do this talk this coming Monday? We lost a speaker last minute so we're scrambling a bit last minute.

[2020-02-11 08:27] iamtommcc commented on #94
Hey @Shreykhanna, hope you're well mate :) And thanks for volunteering a talk.

Redux talks are always a great topic, but most of ReactBris' audience nowadays has a lot of exposure to Redux so there may not be a huge appetite for a talk on Redux basics.

You could look at pivoting the talk topic into more advanced Redux usage if you feel up to it.

Let me know what you think.

[2020-02-12 08:32] Shreykhanna commented on #94
Hi @iamtommcc . I need some time to think on advance usage of redux, so will not be able to present in this meetup. Maybe will come up with something for next meetups. :-)

[2020-02-12 08:32] #94 closed, assigned to nobody

[2020-02-12 11:14] xicovarisco commented on #93
Hey @iamtommcc,
Yeah, I can get it done. You can schedule me in

Cheers

[2020-02-18 23:53] hilaryosborne opened #95 "React micro frontends within the enterprise world"
## Summary of talk
We would like to share our journey of using the micro frontend (micro UI) architectural pattern within our booking engines at FlightCentre. The journey of discovery we have gone through to identify and create our own take on the concept. The technical and non-technical challenges we've run into and how we've overcome them. Finally, to hopefully share our learnings with others cu

[2020-02-19 00:05] Kussie commented on #95
This sounds interesting would love to hear more

[2020-02-19 05:07] edwinpopham commented on #95
Sounds amazing

[2020-02-19 05:58] DataEstate commented on #95
Micro frontend sounds like an interesting concept and would love see how it's implemented in practice. It may help address some of the issues we've been having in supporting legacy systems as small to mid-size businesses.

[2020-02-20 01:41] iamtommcc commented on #95
Haha seems like there's a lot of hype behind this one @hilaryosborne!  Sounds like an amazing topic and we'd love to hear more - would you be OK to deliver this one for ReactBris March?

[2020-02-20 05:11] dib542 opened #96 "Loading large paged datasets into visualisations performantly"
## Summary of talk

At MOVUS we plot a lot of data, the main focus of our dashboard for most of our users are the real-time graphs that plot industrial equipment conditions over time. These graphs usually show about 8 properties over about 1000 timepoints, but it's easy to go back into historical data and load over 100,000+ graph points on a page. How do you handle such requests?
- When you need t

[2020-02-21 00:38] hilaryosborne commented on #95
@iamtommcc sounds great and happy to deliver in March

[2020-02-26 01:49] Komalbandi opened #97 "Component driven development using atomic design pattern"
## Summary of talk

How to use Atomic design pattern in your project

## Details

If you are using any of the modern frameworks (React, Angular or Vue), you are already familiar with component driven development.
I have worked across various industries and there seems to one common problem;
programmers acknowledge component based platform can help them reuse front end code, it helps with a user ex

[2020-03-08 12:09] iamtommcc commented on #97
Hi @Komalbandi,

You're all locked in for the March meetup. Thanks again for volunteering the talk, can't wait!

[2020-03-08 12:11] iamtommcc commented on #95
@hilaryosborne Brilliant! I'll lock you in

[2020-03-08 23:45] Komalbandi commented on #97
Thank you Tom,

Looking forward for the meetup.

Kind Regards,
Komal Bandi

On Sun, 8 Mar. 2020, 10:09 pm Tom, <notifications@github.com> wrote:

[2020-03-13 02:48] iamtommcc commented on #95
@hilaryosborne Hi Hilary,

Unfortunately for safety reasons due to the ongoing coronavirus, we're going to have to cancel ReactBris March and postpone the planned talks. Really sorry about that :(

Whilst we probably don't have enough time to confidently organise a "virtual" meetup for this coming Monday, would you be interested in still delivering this talk virtually for April?

[2020-03-13 02:49] iamtommcc commented on #97
@Komalbandi Hi Komal,

Unfortunately for safety reasons due to the ongoing coronavirus, we're going to have to cancel ReactBris March and postpone the planned talks. Really sorry about that :(

Whilst we probably don't have enough time to confidently organise a "virtual" meetup for this coming Monday, would you be interested in still delivering this talk virtually for April?

[2021-01-09 09:04] #96 closed, assigned to nobody

[2021-11-08 23:20] #92 closed, assigned to nobody

[2022-07-21 03:19] julianburr opened #98 "SSR in React / Next.js, Remix & co"
Not sure if this is still the best way to suggest/volunteer talks, but I'll just give it a try 😅

## Summary of talk

Diving into SSR of React apps, explaining the fundamentals and comparing solutions like Gatsby, Next.js, Remix, Fresh, etc ... either in a combined high level talk or in multiple more in depth talks

## Details

**Title of the Talk**
SSR in React / Jumping onto the Remix hype train

[2022-07-21 03:40] julianburr opened #99 "Using Github Actions for CI/CD"
## Summary of talk

Not strictly React related, so 🤷 The idea is to have a look at Github Actions, how to set it up and use it for CI and CD, and how it to can simplify your release flow.

## Details

**Title of the Talk**
Using Github Actions for CI/CD

**Description of the Talk**
Tired of having `develop`, `staging`, `main` and even more deployment branches? Let's have a look at Github Actions,

[2022-07-21 04:57] julianburr opened #100 "Styling in 2022"
## Summary of talk

Comparison of popular solutions, e.g. Tailwind, styled components, emotion, stitches, etc.

[2022-08-01 06:28] iamtommcc commented on #98
@julianburr Hey legend, how do you feel about delivering this one on the meetup scheduled for September 15 ?